@model RealEstateHub.Models.Obavjestenje

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši obavještenje</h1>

<h3>Da li ste sigurni da želite da obrište obavještenje?</h3>
<div>
    <h4>Obavjestenje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnikId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumObavjestenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumObavjestenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.poruka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.poruka)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="obavjestenjeId" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se na listu obavještenja</a>
    </form>
</div>
