@model RealEstateHub.Models.Obavjestenje

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o obavještenju</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnikId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumObavjestenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumObavjestenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.poruka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.poruka)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.obavjestenjeId">Uredi obavještenje</a> |
    <a asp-action="Index">Vrati se na listu obavještenja</a>
</div>
