@model IEnumerable<RealEstateHub.Models.Obavjestenje>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista obavjestenja</h1>

<p>
    <a asp-action="Create">Dodaj novo obavjestenje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.korisnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumObavjestenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.poruka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.korisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumObavjestenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.poruka)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.obavjestenjeId">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.obavjestenjeId">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.obavjestenjeId">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
