@model RealEstateHub.Models.Oglas

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o oglasu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jeAktivan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jeAktivan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumPostavljanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumPostavljanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojPregleda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojPregleda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.oglasId">Uredi oglas</a> |
    <a asp-action="Index">Vrati se na listu oglasa</a>
</div>
