@model RealEstateHub.Models.Poruka

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o poruci</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.posiljalacId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.posiljalacId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primalacId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primalacId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sadrzaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sadrzaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.procitano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.procitano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumSlanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumSlanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.porukaId">Uredi poruku</a> |
    <a asp-action="Index">Vrati se na listu poruka</a>
</div>
