@model RealEstateHub.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o korisniku</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imeKorisnika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imeKorisnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prezimeKorisnika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prezimeKorisnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailKorisnika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailKorisnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lozinkaKorisnika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lozinkaKorisnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojTelefona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumPridruzivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumPridruzivanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.korisnikId">Uredi</a> |
    <a asp-action="Index">Vrati se na listu korisnika</a>
</div>
