@model RealEstateHub.Models.Nekretnina
@using System.Security.Claims
@{
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}


@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o nekretnini</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opisNekretnine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opisNekretnine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kvadratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kvadratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojSoba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojSoba)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrstaNekretnine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrstaNekretnine)
        </dd>
    </dl>
</div>
<div>
    @if (Model.VlasnikId == currentUserId)
    {
    <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
        }
    <a asp-action="Index">Vrati se na listu nekretnina</a>
</div>

