@model RealEstateHub.Models.FilterNekretnina

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši filter</h1>

<h3>Da li ste sigurni da želite obrisati filter?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maxCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maxCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojSoba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojSoba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kvadratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kvadratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipNekretnine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipNekretnine)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="filterNekretninaId" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se na listu filtera</a>
    </form>
</div>
