@model RealEstateHub.Models.FilterNekretnina

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o filteru</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maxCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maxCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojSoba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojSoba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kvadratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kvadratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipNekretnine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipNekretnine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.filterNekretninaId">Uredi filter</a> |
    <a asp-action="Index">Vrati se na listu filtera</a>
</div>
