@model IEnumerable<RealEstateHub.Models.FilterNekretnina>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista filtera</h1>

<p>
    <a asp-action="Create">Dodaj novi filter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.minCijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maxCijena)
            </th>
            <th>
                Broj soba (min - max)
            </th>
            <th>
                Kvadratura (min - max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipNekretnine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.minCijena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maxCijena)
                </td>
                <td>
                    @item.minBrojSoba - @item.maxBrojSoba
                </td>
                <td>
                    @item.minKvadratura - @item.maxKvadratura
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipNekretnine)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.filterNekretninaId">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.filterNekretninaId">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.filterNekretninaId">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
